<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spotmint.android">

    <!-- Put permission on top of file (voodoo workaround for mapview prob on some devices) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- should set android:debuggable="false" for market release -->
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:debuggable="true">



        <uses-library android:name="com.google.android.maps" />

        <!-- should be removed in market release (scala libs are not emmebed in device)
        <uses-library android:name="scala_actors-2.9.1"/>
        <uses-library android:name="scala_collection-2.9.1"/>
        <uses-library android:name="scala_immutable-2.9.1"/>
        <uses-library android:name="scala_library-2.9.1"/>
        <uses-library android:name="scala_mutable-2.9.1"/>
 -->

        <activity android:label="@string/app_name" android:name="MainActivity" android:theme="@android:style/Theme.NoTitleBar"
                  launchMode="singleTask" hardwareAccelerated="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:host="spotmint.com" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="spotmint" />
            </intent-filter>
        </activity>
        <activity
                android:name=".SettingsActivity"
                android:label="@string/set_preferences">
        </activity>

        <service android:name="MainService"/>

    </application>

    <uses-sdk android:minSdkVersion="7" />

    <supports-screens android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:anyDensity="false" />


</manifest>
